.screen {
  width: 100%;
  height: 100vh;
  color: white;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 1.5vw;
}

.our-work {
  background-color: #de2b24;
  box-sizing: border-box;
  padding-top: 6vh;
}

.screen-h1 {
  font-weight: 700;
  font-size: 1.5em;
}

.screen-h2 {
 padding-top: 0.5em;
 padding-bottom: 0.5em;
 font-size: 0.75em;
 font-weight: 100;
}

.white-line {
  background-color: white;
  height: 0.2em;
  width: 3em;
  margin-left: auto;
  margin-right: auto;
}

.cards-container {
  height: 32.5vw;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
}

.cards-container tr {
  width: 100%;
  height: 50%;
}

.cards-container tr td {
  width: 16.25vw;
  height: 16.25vw;
  overflow: hidden;
  background-color: #f35e59;
  text-align: center;
}

.cards-container tr td:hover {
  transform: scale(1.05);
  transition-duration: 100ms;
}

.cards-container tr td h1 {
  font-size: 1em;
  font-weight: 500;
}

.cards-container tr td h2 {
  margin-top: 0.25em;
  font-size: 0.75em;
  font-weight: 500;
}

.photo1 {
  background-image: url('../photos/photo1.jpg');
}

.photo3 {
  background-image: url('../photos/photo3.png');
}

.photo5 {
  background-image: url('../photos/photo5.jpg');
}

.photo7 {
  background-image: url('../photos/photo7.jpg');
}


.works-project-name-container img {
  margin-bottom: 8%;
  margin-top: 29%;
  height: 14%;
  width: auto;
}

.works-project-name-container:hover{
  background-color: #f8928e;
}

.works-project-name-container h2 {
  margin-bottom: 4%;
}

.works-photo-container { 
  height: 18.25vw;
  width: 18.25vw;
  background-size: cover;
  background-position: center;
}

.facebook-analysis {
  background-color: #1287bf;
  box-sizing: border-box;
  padding-top: 5vh;
}

.open-icon {
  margin-top: 1em;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  height: auto;
  border: 2px solid white;
  border-radius: 50%;
}

.open-icon:after {
  content: "";
  display: block;
  padding-bottom: 40%;
}

.open-icon:hover {
  transform: scale(1.05);
  transition-duration: 100ms;
  border: 3px solid white;
}

.corner {
  width: 30%;
  border: 2px solid white;
  transform: rotate(45deg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  border-left: 0;
  border-top: 0;
}

.corner:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.form {
  background-color: white;
  width: 50vw;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  color: #828282;
  box-sizing: border-box;
  font-size: 1.5vw;
}

.rectangle {
  background-color: white;
  width: 12%;
  height: auto;
  transform: rotate(45deg);
  position: absolute;
  z-index: 1;
  margin-left: -6%;
  position: absolute;
  left: 50%;
}

.rectangle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.close-button {
  position: absolute;
  z-index: 6;
  width: 3vw;
  border-radius: 50%;
  background-color: #de2b24;
  left: 75%;
  margin-left: -1.5%;
  margin-top: -1.5%;
  color: white;
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
}

.close-button:after{
  content: "";
  display: block;
  padding-bottom: 25%;
}

.close-button:hover {
  transform: scale(1.05);
  transition-duration: 100ms;
  border: 1px solid white;
}

.close-button:focus {
  outline: none;
  border: 1px solid white;
  box-shadow: 0 0 3px #de2b24;
}

.close-button p {
  margin-top: 0.75vw;
}

.form {
  font-family: 'Inter', sans-serif;
  font-size: 1.5vw;
}

.form p {
  position: relative;
  z-index: 5;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  padding-top: 5%;
  font-size: 0.6em;
  font-weight: 300;
}

input{
  position: relative;
  z-index: 5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  width: 65%;
  height: 3em;
  padding-left: 3%;
  box-sizing: border-box;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  color: #828282;
  font-size: 0.6em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d8d8d8;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #d8d8d8;
}

input:hover {
  border: 1px solid #1287bf;
}

input:focus {
  outline: none;
  border: 1px solid #1287bf;
  box-shadow: 0 0 3px #1287bf;
}

.submit-button {
  position: relative;
  z-index: 5;
  margin-top: 4%;
  width: 23%;
  height: 10%;
  color: white;
  background-color: #de2b24;
  border: none;
  border-radius: 4px;
  font-size: 0.6em;
  font-weight: 700;
}
.submit-button:hover {
  transform: scale(1.05);
  transition-duration: 100ms;
}

.submit-button:focus {
  outline: none;
  border: 1px solid white;
  box-shadow: 0 0 3px #de2b24;
}

.get-in-touch {
  background-color: #2a2a2a;
  box-sizing: border-box;
  padding-top: 12%;
}

.get-in-touch h1 {
  margin-bottom: 4vh;
}

.social-networks-wrapper {
  margin-bottom: 4vh;
}

.social-networks-wrapper button
{
  width: 7vh;
  height: 7vh;
  background-color: #2a2a2a;
  border: 2px solid #515151;
  border-radius: 2px;
  margin-left: 1vh;
  margin-right: 1vh;
  padding-top: 0.8vh;
}

.social-networks-wrapper button:hover {
  border: 1px solid #de2b24;
}

.social-networks-wrapper button:focus {
  outline: none;
  border: 1px solid #de2b24;
  box-shadow: 0 0 3px #de2b24;
}

.social-networks-wrapper button img
{
  height: 4.5vh;
  width: auto;
}

.get-in-touch h2 {
  margin-bottom: 4vh;
}

.email-input {
  margin-bottom: 4vh;
  width: 50%;
  height: 3.5em;
  background-color: #515151;
  color: #d8d8d8;
  border: none;
  border-radius: 2px;
}

.subscribe-button {
  background-color: #515151;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  width: 12%;
  height: 3em;
  color: white;
}

.subscribe-button:hover {
  box-shadow: 0 0 3px #d8d8d8;
}

.subscribe-button:focus {
  outline: none;
  border: 1px solid #d8d8d8;
  box-shadow: 0 0 5px #d8d8d8;
}

.footer {
  width: 100%;
  height: 10vh;
  background-color: #515151;
  text-align: center;
  color: #d8d8d8;
  line-height: 10vh;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 1em;
}


